.container-formation h1{
    padding-top: 50px;
    justify-content: start;
    margin-top: 50px;
    font-family: Gilroy;
    color: #ffffff;
    font-size: 13ch;
}

.container-formation{
    background: linear-gradient(to bottom,   #000000, #17255c );
    padding: 15px ;
    
    width: 100%;
    padding-bottom: 100px;
}
 .box-container{
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 2fr));
    gap: 15px;
}
.container-formation .box-container .box{
    box-shadow: 10px 5px 10px rgba(0,0,0,.2);
    border-radius: 1rem;
    background: #ffffff00;
    text-align: center;
    padding: 30px 20px;  
}



.container-formation p{
    color: #ffffff;
    text-align: justify;
    font-family: Gilroy;
}

.container-formation h3{
    color: #ffffff;
}

.container-formation .box-container .box img{
    height: 80px;
    margin: 40px;
    transition: 300ms
}

.container-formation img:hover{
    transform: scale(2.5);
    
}