*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html{
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);  
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{

    list-style: none;
    margin-left: 20px;

}

header ul li a{
    font-size: 1.5em;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover{
    background: #fff;
    color: #2b1055;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #17255c, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#moon{
    width: 100%;
    height: auto;
    mix-blend-mode: screen;
}

section img#sol{
    width: 100%;
    height: auto;
    mix-blend-mode: screen;
    transform: translateX(-100px);
    /*transform: translateX(-1000px); Con esta liena se pociciona el sol de las 10am*/
}

section img#estepa{
    z-index: 10;
}

section img#cerro{
    z-index: 0;
    
}

section img#sky{
    width: 150%;
    right: 300px;
   
    
}


.sec  p{
    text-align: right;
    margin-top: 10px;
}

 

#text{
    position: absolute;
    z-index: 9;
    color: #fff;
    white-space: nowrap;
    font-size: 13ch;
    transform: translateY(100px);
    font-family: Gilroy;
}

#btn{
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 10;
    transform: translateY(250px); 
    box-shadow: 0 10px 10px;  
}




/*Aqui empieza la seccion de informacion algo sobre mi */
/*--------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------------------------------- */



.container-1-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-LOGO{
    flex: 0 0 auto;
    width: 30%;
    display: flex;  
}
.about-me{
    flex: 0 0 auto;
}

.about-me2{
    flex: 0 0;
}
.about-me2 img{
    width: 55px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.about-me2 ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    color: #fff;
}

.about-me2 li{
    margin: 0 10px;
    text-align: center;
}


.ul-frameworks {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.ul-frameworks li {
    text-align: center;
    margin: 0 10px;
}

.ul-frameworks .logo-cs{
    width: 65px;

}
.ul-frameworks .logo-dj{
    width: 65px;
}
.ul-frameworks .logo-njs{
    width: 58px;
}

/*Projects Section start*/
/*--------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------------------------------- */
.section-projects{
    background: linear-gradient(to bottom,  #17255c, #000000 );
}

.section-projects h1{
    justify-content: start;
    font-family: Gilroy;
    color: #ffffff;
    font-size: 13ch;
}

.section-titles{
    display: grid;
    max-width: 100%;
    flex-wrap: wrap;
    color: #fff;
    background-color: #17255c;
    align-items: center;
    
}



.section-titles h1{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Gilroy;
    font-size: 3.8em;
    margin-bottom: 50px;
    
    
}
.section-titles p{
    display: grid;
    margin: 50px;
    font-size: 1.5em;
    font-family: Gilroy;
    
}

.projects-cards{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.6;
    justify-content: center;
    
}

.projects-cards img{
    width: 15%;
   
}


.card-project{
    
    margin: 5px 5px;
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-project:hover{
    transform: scale(1.05);
}

.card-content-project{
    color: #fff;
    --padding: 1.5em;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% /0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(80%);
    transition: transform 500ms ease;
    height: 100%;
}


.card-project:hover .card-content-project{
    transform: translateY(0);
}


.card-title{
    position: relative;
    width: max-content;
   
}
.card-title h2{
    color: #fff;
    font-weight: bold;
}

.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    left: 0;
    bottom: 0;
    width: calc(100% + var(--padding));
    background: #17255c;
    transform: scaleX(0);

    transform-origin: left;
    transition: transform 500ms ease;
}

.card-project:hover .card-title::after{
    transform: scaleX(1);
}

.button{
    margin-top: 100px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    background-color: #ffffff51;
    padding: 0.5em 1.25em;
}

.button:hover,
.button:focus{
    color: #000000;
    background-color: #ffffff;
}
/*--------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------------------------------- */
/*Projects Section End*/


/*Contact Section Start*/
/*--------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------------------------------- */
/* 


/*Star card git, linkedln & e-mail */
.container_card{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card1{
    width: 300px;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    transition: all 300ms;
    border-radius: 20px;
}

.card2{
    width: 300px;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    transition: all 300ms;
    border-radius: 20px;
    
}
.card3{
    width: 350px;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049; 
}


.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px; 
}

.icon{
    width: 100%;
    height: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-color: #17255c;
   
}

.icon i{
    font-size: 140px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    
}

.c1:hover .icon{
    background: #171515;
    border-radius: 20px;
    
}
.c1 .icon i{
    color:#171515;
    
}
.c1:hover .icon i{
    color:#fff;
    
}

.c2:hover .icon{
    background: #0077b5;
    border-radius: 20px;
}
.c2 .icon i{
    color:#0077b5;
}
.c2:hover .icon i{
    color:#fff;
}

.c3:hover .icon{
    background: #0078d4;
    border-radius: 20px;
}
.c3 .icon i{
    color:#bebebe;
}
.c3:hover .icon i{
    color:#fff;
}

/*--------------------------------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------------------------------- */
/*Contact Section End*/