*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}


html{
    scroll-behavior: smooth;
    background-color: #17255c; 
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #17255c;  
}







